[submodule "macros/voltage_controlled_resistors/macros/vcr_bisection/macros/opamp_rtr"]
	path = macros/voltage_controlled_resistors/macros/vcr_bisection/macros/opamp_rtr
	url = https://github.com/santihofi/opamp_rtr.git
[submodule "macros/voltage_controlled_resistors/macros/vcr_bisection/macros/isource_beta"]
	path = macros/voltage_controlled_resistors/macros/vcr_bisection/macros/isource_beta
	url = https://github.com/santihofi/isource_beta.git
